@use "../common/vars.scss" as *;

.accordeon {

    &__content {
        display: grid;
        grid-template-rows: 0fr;
        transition-duration: 0.3s;
    }

    &__body{
        overflow: hidden;
    }

    &__description {
        font-size: 20px;
    }

    &__description:not(:last-child) {
        margin-bottom: 10px;
    }

    &__base.active {
        padding-bottom: 18px;

        .accordeon__content {
            grid-template-rows: 1fr;
        }

        .accordeon__status-icon {
            &::before {
                transform: translate(-50%, -50%) rotate(0deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(-180deg);
            }
        }

        .accordeon__header-item {
            .accordeon__item-title {
                color: $orange;
            }

            .accordeon__status-icon {
                &::before,
                &::after {
                    background-color: $orange;
                }
            }
        }
    }
    
    &__base {
        transition-duration: padding 0.3s;
        border-bottom: 1px solid $white;
    }

    &__header-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 0;
        cursor: pointer;
    }

    @media(hover:hover) {
        &__header-item:hover {
            .accordeon__item-title {
                color: $red;
            }

            .accordeon__status-icon {
                &::before,
                &::after {
                    background-color: $red;
                }
            }
        }
    }

    &__item-title {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.37;
        text-transform: uppercase;
        transition: color .3s;
    }

    &__status-icon {
        display: block;
        position: relative;
        width: 24px;
        height: 24px;

        &::before,
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 16px;
            height: 2px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $white;
            transition: 0.3s;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }
}

@media(max-width: 768px) {
    .accordeon__item-title {
        font-size: 20px;
    }

    .accordeon__description {
        font-size: 18px;
    }
}
