@use "../common/vars.scss" as *;

.contact-link {
    width: 60px;
    height: 60px;
    display: block;
    color: $white;
    transition: .3s;

    &__icon {
        width:100%;
        height:100%;
        object-fit: cover;
        transition: .3s;
    }
    
    @media (hover:hover) {
        &:hover {
            color: rgb(53, 125, 241);

            .contact-link__icon {
                filter: drop-shadow(0 0 3px rgb(53, 125, 241));
            }
        }
    }
}
