@use "../common/vars.scss" as *;

.about-me {
    background-color: $blue;
    color: $white;
    z-index: 2;

    &__content {
        height: 100%;
        min-height: 100%;
        padding: 40px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;

        @media (max-width: 1300px) {
            justify-content: center;
            min-height: 100dvh;
        }
    }
    
    &__wrapper-img {
        width: 60px;
        height: 60px;
        position: absolute;
        opacity: 0.8;

        &--rock {
            top: 30%;
            left: 20%;
            transform: rotate(30deg) !important;
    
            @media (max-width: 1300px) {
                top: 15%;
                left: 10%;
            }
        }

        &--man {
            top: 20%;
            left: 60%;
            width: 100px;
            transform: rotate(-20deg) !important;
    
            @media (max-width: 1300px) {
                top: 15%;
            }
        }
    
        &--woman {
            bottom: 10%;
            left: 20%;
            width: 110px;
            transform: rotate(-5deg) !important;
    
            @media (max-width: 1300px) {
                bottom: 10%;
                left: 10%;
            }
        }
    
        &--fire {
            bottom: 20%;
            left: 70%;
            width: 100px;
            transform: rotate(-20deg) !important;
        }

        @media(max-width: 768px) {
            width: 40px;
            height: 40px;
        }
    }

    &__icon {
        width: 100%;
        height: 100%;
    }

    .list-of-advantages {
        margin-bottom: 30px;
    }
}
