@use "../common/vars.scss" as *;

.footer {
    &__content {
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    &__line {
        margin: -30px auto 10px;
        padding: 0;
        height: 50px;
        border: none;
        border-bottom: 1px solid #d6d5d5;
        box-shadow: 0 20px 20px -20px #ffffff;
        width: 95%;
    }

    .container {
        height: auto;
        min-height: auto;
    }

    &__wrapper-adapt {
        .contact-link {
            display: none;
        }
    }
}

.info-group {
    display: flex;
    gap: 30px;

    &__item {
        
    }

    &__title {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

.info-list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__item {
    
    }
}

.info-link {
    color: inherit;
    transition: .2s;
    &:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
        color: $red;
    }
}

@media (max-width: 1024px) {
    .footer .contact-link {
        display: none;
    }

    .footer__wrapper-adapt {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;

        .contact-link {
            display: block;
        }
    }
}

@media (max-width: 830px) {
    .footer__wrapper-adapt {
        flex-direction: row;

        .contact-link {
            display: block;
        }
    }

    .info-group {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 630px) {
    .footer__wrapper-adapt {
        flex-direction: column;

        .contact-link {
            display: block;
        }
    }

    .info-group {
        flex-direction: column;
        gap: 20px;
    }
}


@media (max-width: 530px) {
    .footer__content {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .footer__wrapper-adapt {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .contact-link {
            display: block;
        }
    }

    .info-group {
        flex-direction: column;
        gap: 20px;
    }
}
