@use "../common/vars.scss" as *;

.garancy {
    &__content {
        height: 100%;
        min-height: 100%;
        padding: 40px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;

        @media (max-width: 1250px) {
            min-height: 100dvh;
        }
    }

    .main-subtitle {
        margin-bottom: 60px;
    }

    .lead-link {
        display: inline-block;
        align-self: center;
    }

    .garancy-list {
        margin-bottom: 40px;
    }
}

.garancy-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    @media (max-width: 1250px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.garancy-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: $black;
    color: $white;

    &__top {
        min-height: 51px;
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
    }

    &__icon {
        width: 30px;
        height: 30px;
    }

    &__title {
        font-size: 22px;
    }

    &__description {
        font-size: 18px;
        line-height: 1.3;
        letter-spacing: 0.8px;
    }
}
