@use "../common/vars.scss" as *;

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: $blue;
    padding: 20px 0;
    transition: padding .3s, background-color .3s, backdrop-filter .3s; // увеличил время для bg

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container {
        min-height: auto;
    }

    &.scrolled {
        padding: 10px 0;
        background-color: $blueTransparent;
        backdrop-filter: blur(5px);
    }

    &.dark-mode {
        background-color: rgba(0, 8, 20, 0.8);
        &.scrolled {
            background-color: rgba(0, 8, 20, 0.8);
        }
    }
}

.logo {
    display: block;
    width: 130px;
    z-index: 10;
    &__pic {
        width: 100%;
        object-fit: cover;
    }
}

.menu {
    &__list {
        display: flex;
        gap: 50px;

        @media (max-width: 1300px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100dvh;
            gap: 25px;
            background-color: $blue;
        }
    }

    @media (max-width: 1300px) {
        transition: transform .3s ease-in-out;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        transform: translateY(100%);

        &.open {
            transform: translateY(0);
        }

    }
}

.anchor-link {
    height: 30px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: $white;
    font-size: 20px;

    @media (hover:hover) {

        &:hover {
            &::after,
            &::before {
                width: 100%;
                left: 0;
            }
        }

        &::after,
        &::before {
            content: '';
            position: absolute;
            bottom: -2px;
            width: 0;
            right: 0;
            height: 3px;
        }

        &::before {
            transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
            background: $white;
        }

        &::after {
            transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
            background: $orange;
        }
    }
}
