@use "../common/vars.scss" as *;

.learning-programms {
    height: auto;

    &__content {
        height: 100%;
        min-height: 100%;
        padding: 40px 0;
        display: flex;
        flex-direction: column;

        @media (max-width: 1250px) {
            min-height: 100dvh;
        }

        .main-subtitle {
            margin-bottom: 60px;
        }

        .programms-list {
            margin-bottom: 40px;
        }
    }
}

.programms-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    &__item {

    }

    @media (max-width: 1024px) {
        gap: 16px;
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card-programm {
    color: $black;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius:  16px;
    background-color: $white;
    height: 100%;

    @media (max-width: 1024px) {
        padding: 10px;
    }

    @media (max-width: 768px) {
        align-items: flex-start;
    }

    .lead-link {
        display: block;
        margin-top: auto;
        text-align: center;
        align-self: center;

        @media (max-width: 850px) {
            font-size: 18px;
        }

        @media (hover: none) {
            &::before, &::after {
                display: none;
            }
        }

        &::before, &::after {
            border-color: $blue;
        }
    }

    &__header {
        margin-bottom: 40px;

        @media (max-width: 1250px) {
            margin-bottom: 30px;
        }

        @media (max-width: 1024px) {
            margin-bottom: 20px;
        }
    }

    &__title {
        margin-bottom: 8px;
        font-size: 24px;
        font-weight: 800;

        @media (max-width: 1250px) {
            font-size: 20px;
        }
    }

    &__wrapper-info {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @media (max-width: 1024px) {
            flex-direction: column;
            // gap: 10px;
        }
    }

    &__description {
        font-size: 18px;
        font-weight: 600;
        color: $blue;

        @media (max-width: 1250px) {
            font-size: 16px;
        }
    }

    &__condition {
        color: $black;
        font-size: 18px;
        font-weight: 500;
        flex-shrink: 0;
    }

    &__info-link {
        color: $blue;
        font-size: 18px;
        font-weight: 500;
        transition: .3s;
        margin-bottom: 40px;
        padding-left: 15px;

        &:hover{
            color: $red;
            text-decoration: underline;
            text-underline-offset: 5px;
        }
    }

    .list-of-advantages {
        gap: 10px;
        margin-bottom: 30px;
    }

    .list-of-advantages__marker {
        font-size: 18px;
    }

    .list-of-advantages__text {
        font-size: 18px;
        font-weight: 500;

        @media (max-width: 1250px) {
            font-size: 16px;
        }

        @media (max-width: 1024px) {
            font-size: 14px;
        }

        @media (max-width: 768px) {
            font-size: 16px;
        }

        @media (max-width: 425px) {
            font-size: 14px;
        }
    }
}
