@use "../common/vars.scss" as *;

.welcome {
    position: relative;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: linear-gradient(0deg,rgba(0, 0, 0, 0.62) 100%, rgba(255, 255, 255, 0) 100%);
    }

    &__preview {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        // z-index: 1;
    }

    &__content {
        padding: 40px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 120px;
        height: 100%;

        @media (max-width: 1250px) {
            flex-direction: column;
            justify-content: flex-start;
        }
    }
}
