// base
@use 'normalize.css';
@use '../style/common/base.scss';

// sections
@use '../style/sections/header.scss';
@use '../style/sections/welcome.scss';
@use '../style/sections/about-me.scss';
@use '../style/sections/garancy.scss';
@use '../style/sections/programms.scss';
@use '../style/sections/footer.scss';

// blocs
@use '../style/components/burger.scss';
@use '../style/components/hero.scss';
@use '../style/components/lists-of-advantages.scss';
@use '../style/components/titles.scss';
@use '../style/components/ava.scss';
@use '../style/components/lead-link.scss';
@use '../style/components/accordeon.scss';
@use '../style/components/contact-link.scss';
