@use "./vars.scss" as *;

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: normal;
}

@font-face {
    font-family: 'TikTokSans';
    src: url('/fonts/TikTokSans-VariableFont_opsz,slnt,wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $white;
    font-family: "TikTokSans";
    color: $black;
    height: 100%;
    scroll-behavior: smooth;
}

section {
    overflow: hidden;
    height: 100dvh;

    @media (max-width: 1250px) {
        height: 100%;
        min-height: 100dvh;
    }
}

main {
    padding-top: 95px;

    &.scrolled {
        padding-top: 75px;
    }
}

.container {
    max-width: 1920px;
    padding: 0 40px;
    margin: 0 auto;
    height: 100%;
    min-height: 100dvh;

    @media (max-width: 1024px) {
        padding: 0 20px;
    }
}

*, *>* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style: none;
}

button {
    background-color: transparent;
    background: transparent;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

strong {
    font-weight: inherit;
}